.hidden{
    display: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
button{
    cursor: pointer;
}


/*-----------------------------common----------------------------------*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*-----------------------------Header--------------------------------------*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list,
.contacts{
    display: none;
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}
.header-logo .logo-part {
    color: #2e2f42;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.burger-icon{
    fill: #2f2f37;
    display: block;
}
.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
   .burger-btn{
    display: none;
   }
   .nav-list {
       display: flex;
       align-items: center;
       gap: 40px;
   }
   .contacts {
       font-style: normal;
       display: block;
   }
   .header-nav {
       display: flex;
       align-items: center;
   }
   .header-logo {
       padding: 24px 0;
       display: block;
       margin-right: 120px;
   }
   .nav-link {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #2e2f42;
       padding: 24px 0;
       display: block;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .nav-link.current {
       position: relative;
   }

   .nav-link.current::after {
       content: "";
       position: absolute;
       left: 0;
       bottom: -1px;
       background-color: #404bbf;
       border-radius: 2px;
       width: 100%;
       height: 4px;
   }

   .contacts-list {
       display: flex;
       flex-direction: column;
       gap: 12px;
   }
   .contacts-link {
       display: block;
       font-size: 12px;
       line-height: 1.17;
       letter-spacing: 0.04em;
       color: #434455;
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .nav-link:hover,
   .nav-link:focus,
   .contacts-link:hover,
   .contacts-link:focus,
   .nav-link.current {
       color: #404bbf;
   }
   
}

@media screen and (min-width: 1158px) {
    .header-logo {
            margin-right: 76px;
        }
     .contacts-list {
         align-items: center;
         gap: 40px;
         flex-direction: row;
        }
    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
}

/*------------------------Mobile menu-------------------------*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    stroke-width: 1px;
    fill: #2e2f42;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: 168px;
}

.mobile-nav-list{
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.mobile-nav-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current-mobile{
    color: #404bbf;
}

.contacts-list-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.contacts-link-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile:hover,
.nav-link-mobile:focus,
.contacts-link-mobile:hover,
.contacts-link-mobile:focus {

    color: #404bbf;
}

.current-link {
    color: #4d5ae5;

}

.media-list-mobile {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
}

.item-media-mobile {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.icon-media-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: #f4f4fd;
}

.icon-media-mobile:hover,
.icon-media-mobile:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*------------------------Title section-------------------*/

.title-section {
    background-color: #2e2f42;
    align-items: center;
    padding: 72px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office1.jpg);
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-title {
    font-size: 36px;
    line-height: 1.12;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.service-button {
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-button:hover,
.service-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .title-section {
        padding-top: 112px;
        padding-bottom: 112px;
       max-width: 768px;
        min-height: 436px;
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .title-section {
        padding: 188px 0;
        max-width: 1440px;
        min-height: 600px;
    }

    .main-title {
        margin-bottom: 48px;
    }
}

/*-----------------------------Features section------------------------*/

.transparent-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-icon{
    display: none;
}
.features-section{
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
}
.features-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
}
.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-dscr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 24px)/2);
    }
}
@media screen and (min-width: 1158px) {
    .features-section {
            padding: 120px 0;
        }

    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

        .features-box {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background-color: #f4f4fd;
            ;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .features-icon {
            margin: auto;
        }

    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .solution-text {
        font-weight: 400;
    }

   .features-item {
       width: calc((100% - 72px) / 4);
   }
}

/* -----------------------Team section--------------------- */

.team-section {
    background-color: #f4f4fd;
    padding: 96px 0;
    margin-right: auto;
    margin-left: auto;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    text-transform: capitalize;
}
.team-info {
    padding: 32px 0;
}
.team-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.team-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.socnet-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
}
.social-media-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socnet-icon {
    fill: #f4f4fd;
}
.social-media-link:hover,
.social-media-link:focus {
    background-color: #404bbf;
}
.socnet-link {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px) {
    
    .team-list{
        flex-direction: row;
        gap: 64px 24px;
        flex-wrap: wrap;}

        .team-item {
            width: calc((100% - 24px) / 2);
        }
}

@media screen and (min-width: 1158px) {

    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
    }

    .team-item {
    width: calc((100% - 72px) / 4);
    }
        .team-section {
            padding: 120px 0;
        }
}

/* ------------------Portfolio section----------------- */